$color-background-main: #FFFFFF;
$color-background-light: #F0F1F1;
$color1: #5E5322;
$color-focus: #FAD648;
$color-font-log: #737373;
$color-font-main: #3C3C3C;
$color-after-element: #707070;
$color-font-placeholder: #3C3C3C26;


