@import '~reset.css';
@import './settings/colors';
@import './settings/fonts';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Open+Sans:300,400,600,700,800&display=swap');

html {
  font-size: 1vw
}

body {
  font-family: $font-base;
  background-color: $color-background-main;
}

//Header

.header__container {
  display: flex;
  justify-content: flex-end;
  color: $color-font-main;
  margin-right: 8vw;
  //position: fixed;
}

.header__container__elements {
  width: 40vw;
  height: 9.9vh;
  margin: 3.8vh 0 0 0;
}

.header__container__elements__log,
.header__container__elements__nav {
  display: flex;
  flex-direction: row;
}

.header__container__elements__log {
  justify-content: flex-end;
  height: 4vh;

  a {
    padding: 1vh 1vw;
    font-size: .9rem;

    &:link {
      color: $color-font-main;
      text-decoration: none;
    }

    &:visited {
      color: $color-font-main;
      text-decoration: none;
    }

    &:active {
      color: $color-font-main;
      text-decoration: none;
      border: 1px solid $color-focus;
    }
  }

}

.header__container__elements__nav {
  justify-content: flex-end;
  margin: 1.5vh 0;

  div {
    padding-left: 2vw;
  }
}

//Main section

.mainSection__container {
  height: 80vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 8vw;
}

.mainSection__container__element__picture {
  width: 50%;
  height: 100%;
}

.mainSection__picture {
  width: 70%;
  height: 90vh;
  background-image: url("../assets/Home-Hero-Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -15vh;
  left: -25%;
}

.mainSection__container__element__text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-font-main
}

.mainSection__container__par {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;

  p {
    padding: 1vh 0;
  }
}

.mainSection__container__links {
  display: flex;
  //flex-direction: row;
  justify-content: space-around;

  div {
    border: 1px solid $color-font-main;
    width: 11vw;
    height: 10vh;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 2.3vh 1vw;
    padding: 1vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}